absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1658854572623/work
aiofiles==22.1.0
aiohttp @ file:///D:/bld/aiohttp_1689805142756/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
alembic==1.11.3
altair==4.2.2
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyconfig==0.10.1
anyio==3.7.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-generator==1.10
async-lru==2.0.4
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs==23.1.0
Automat==20.2.0
autopage==0.5.1
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
bcrypt @ file:///D:/bld/bcrypt_1651441749287/work
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293028159/work
binaryornot==0.4.4
bleach==6.0.0
blinker==1.4
bokeh==3.2.1
Bottleneck @ file:///C:/ci/bottleneck_1648029530934/work
brotlipy @ file:///D:/bld/brotlipy_1648854347500/work
build==0.10.0
CacheControl==0.13.1
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.3.1
category-encoders==2.5.1
certifi==2023.7.22
cffi @ file:///D:/bld/cffi_1656782940775/work
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///D:/bld/click_1651215332191/work
click-plugins==1.1.1
cliff==4.3.0
cligj==0.7.2
cloudpickle==2.2.0
cmaes==0.10.0
cmd2==2.4.3
cmdstanpy==1.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
colorlog==6.7.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1679481329611/work
constantly==15.1.0
contourpy @ file:///D:/bld/contourpy_1686733924555/work
convertdate==2.4.0
cookiecutter==2.3.0
cryptography @ file:///D:/bld/cryptography_1657174142266/work
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.0.0
cytoolz @ file:///D:/bld/cytoolz_1689982190815/work
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.9.0
dask-glm==0.2.0
dask-image==2023.8.1
dask-ml==2023.3.24
dask-xgboost==0.1.11
debugpy @ file:///D:/bld/debugpy_1680755654494/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
distributed==2023.9.0
dm-tree==0.1.7
dynaconf==3.2.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
ephem==4.1.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastapi==0.95.2
fasteners==0.18
fastjsonschema==2.18.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
Fiona==1.9.4.post1
Flask==2.2.5
flatbuffers==1.12
fonttools==4.25.0
fqdn==1.5.1
frozenlist @ file:///D:/bld/frozenlist_1659557068784/work
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
geopandas==0.13.2
gitdb==4.0.10
GitPython==3.1.32
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1660985916368/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
google-pasta==0.2.0
graphql-core==3.2.3
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1658658635601/work
great-expectations==0.17.17
greenlet==2.0.2
grpcio @ file:///D:/bld/grpcio_1652123851090/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1652727116927/work
h5py @ file:///D:/bld/h5py_1660488207680/work
hijri-converter==2.3.1
holidays==0.32
httptools==0.6.0
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
hyperopt==0.2.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.31.2
imbalanced-learn==0.11.0
importlib-metadata==4.13.0
importlib-resources==6.0.1
importnb==2023.1.7
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1621907170877/work
ipykernel @ file:///D:/bld/ipykernel_1688404891542/work
ipython @ file:///D:/bld/ipython_1685727936079/work
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib==1.3.1
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core @ file:///D:/bld/jupyter_core_1669775342995/work
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.25.0
kaleido==0.2.1
kedro==0.18.12
kedro-viz==6.4.0
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1652925255303/work/keras-2.9.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver @ file:///C:/ci/kiwisolver_1653292359073/work
korean-lunar-calendar==0.3.1
lazy_loader==0.3
lazypredict==0.2.12
libclang==16.0.6
lightgbm==3.3.5
llvmlite @ file:///C:/b/abs_a8i9keuf6p/croot/llvmlite_1683555140340/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
LunarCalendar==0.0.9
lxml @ file:///D:/bld/lxml_1656759504292/work
lz4==4.3.2
mahotas @ file:///D:/bld/mahotas_1667626789073/work
makefun==1.15.1
Mako==1.2.4
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
markdown-it-py==3.0.0
MarkupSafe @ file:///D:/bld/markupsafe_1648737731599/work
marshmallow==3.20.1
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mistune==3.0.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
mlxtend==0.22.0
more-itertools==10.1.0
msgpack @ file:///D:/bld/msgpack-python_1678313039563/work
multidict @ file:///D:/bld/multidict_1672339572480/work
multipledispatch==1.0.0
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.1
notebook==7.0.3
notebook_shim==0.2.3
numba @ file:///D:/bld/numba_1687804899341/work
numcodecs==0.11.0
numexpr @ file:///C:/ci/numexpr_1656071426911/work
numpy==1.24.4
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1662766753257/work
omegaconf==2.3.0
openpyxl==3.1.2
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
optuna==3.0.4
orjson==3.9.2
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
overrides==7.4.0
packaging==23.1
pandas==2.1.0
pandocfilters==1.5.0
parse==1.19.1
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
patsy==0.5.3
pbr==5.11.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.0.1
PIMS==0.6.1
pip-tools==7.3.0
platformdirs==3.10.0
plotly==5.11.0
plotly-resampler==0.9.1
pluggy==1.2.0
pmdarima==2.0.3
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
prettytable==3.8.0
prometheus-client==0.17.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
prophet==1.1.4
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
protobuf==3.19.6
psutil @ file:///D:/bld/psutil_1681775154843/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py4j==0.10.9.7
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycaret==3.0.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.12
PyDispatcher==2.0.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1663432570896/work
PyMeeus==0.5.12
pyod==1.1.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1663846997386/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyperclip==1.8.2
pyproj==3.6.0
pyproject_hooks==1.0.0
pyreadline3==3.4.1
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-clients==1.2.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-json-logger==2.0.7
python-slugify==8.0.1
pytoolconfig==1.2.5
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.4.1
pywin32==303
pywinpty==2.0.11
PyYAML @ file:///D:/bld/pyyaml_1648757288117/work
pyzmq @ file:///D:/bld/pyzmq_1685519522122/work
qtconsole==5.4.4
QtPy==2.4.0
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
referencing==0.30.0
requests==2.31.0
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
rope==1.9.0
rpds-py==0.9.2
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
ruamel.yaml==0.17.17
schemdraw==0.15
scikit-base==0.5.0
scikit-image==0.21.0
scikit-learn @ file:///D:/bld/scikit-learn_1688116465061/work
scikit-plot==0.3.7
scipy==1.8.1
Scrapy @ file:///C:/Windows/TEMP/abs_f50e21j997/croots/recipe/scrapy_1659598707153/work
seaborn==0.12.2
secure==0.3.0
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1660069164233/work/src/py
semver==3.0.1
Send2Trash==1.8.2
service-identity==18.1.0
shapely==2.0.1
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
sktime==0.21.0
slicerator==1.1.0
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
SQLAlchemy==2.0.20
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
statsmodels==0.14.0
stevedore==5.1.0
strawberry-graphql==0.205.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tbats==1.1.3
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity==8.2.2
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1651519171059/work/tensorboard-2.9.0-py3-none-any.whl
tensorboard-data-server @ file:///D:/bld/tensorboard-data-server_1649932959679/work/tensorboard_data_server-0.6.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.9.1
tensorflow-estimator @ file:///C:/Users/builder/adipietro/mc3/tf_env/conda-bld/tensorflow-estimator_1661811062276/work/tensorflow_estimator-2.9.0-py2.py3-none-any.whl
tensorflow-io-gcs-filesystem==0.31.0
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1662985294144/work
terminado==0.17.1
text-unidecode==1.3
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2023.8.25
tinycss2==1.2.1
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1657323845005/work
toml==0.10.2
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
toposort==1.10
torch==1.13.0
torchaudio==0.13.0
torchmetrics==0.11.0
torchvision==0.14.0
tornado==6.3.3
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
trio @ file:///D:/bld/trio_1654688477302/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1641849081899/work/dist
tsdownsample==0.1.2
Twisted @ file:///D:/bld/twisted_1662643684874/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1649418015679/work
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
uvicorn==0.22.0
verstack==3.8.9
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
watchfiles==0.20.0
watchgod==0.8.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
widgetsnbextension==4.0.8
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771897787/work
wrapt @ file:///D:/bld/wrapt_1651495425905/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
xarray==2023.8.0
xgboost==1.7.6
xxhash==3.3.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1689285763161/work
yarl @ file:///D:/bld/yarl_1648966692031/work
yellowbrick==1.5
zarr==2.16.1
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
zope.interface @ file:///D:/bld/zope.interface_1649175894935/work
